* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f202a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fffcf4;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 800px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 24px;
    color: rgb(24, 43, 73);
}

.input-grid {
    display: grid;
    gap: 12px;
    margin-bottom: 20px;
}

h4 {
    color: rgb(0, 0, 0);
    text-align: left;
}

input[type="number"] {
    width: 300px;
    padding: 12px;
    font-size: 1.1rem;
    background-color: rgb(255, 255, 246);
    border: 2px solid #587a8a;
    border-radius: 8px;
    color: #ffffff;
    outline: none;
    text-align: left;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.botoes {
    display: grid;
}

.botoes-metricas {
    gap: 5px;
}

input[type="button"] {
    padding: 12px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #0d77bd;
    color: rgb(219, 219, 219);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 300px;
    margin: 10px;
}

input[type="button"]:hover {
    background-color: #065c96;
}

#limpar {
    background-color: #b31b5a;
    width: 100%;
}

#limpar:hover {
    background-color: #b31b5a;
}


#resultadoCpu {
    font-size: 1.1rem;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00307e;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    color: #e2e8f0;
    border: 2px solid #072146;
}

#resultadoTemperatura {
    font-size: 1.1rem;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00307e;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    color: #e2e8f0;
    border: 2px solid #072146;
}

#resultadoMemoria {
    font-size: 1.1rem;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00307e;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    color: #e2e8f0;
    border: 2px solid #072146;
}

#resultado strong {
    color: #00152e;
    margin-left: 4px;
}